source https://www.nuget.org/api/v2
framework: netcoreapp2.0

nuget Expecto.FsCheck
nuget Argu
nuget Unquote

group Build
  source https://api.nuget.org/v3/index.json
#  storage:none
  nuget FAKE
